//Variables
$color1: #244F75;
$color2: #60BFBF;
$color3: #8C4B7E;
$color4: #F8BB44;
$color5: #F24B4B;

$tag1 :u4rx9pe;
$tag2 :u4rx9pg;
$tag3 :u4rx9q8;
$tag4 :u4rx9qn;
$tag5 :u4rx9r0;

$colors: (
  "1": #{$color1},
  "2": #{$color2},
  "3": #{$color3},
  "4": #{$color4},
  "5": #{$color5},
);

$names: (
  "1": "strip--#{$tag1}",
  "2": "strip--#{$tag2}",
  "3": "strip--#{$tag3}",
  "4": "strip--#{$tag4}",
  "5": "strip--#{$tag5}",
);

$durations: (
  "1": 0.5s,
  "2": 0.8s,
  "3": 0.7s,
  "4": 1s,
  "5": 1.1s,
);